<article>
  <h1><%= @onetask.title %></h1>
  <h2><%= @onetask.description %></h2>


  <!-- <p>status: <%= @status == "yes" ? "YES! GOLD STAR â­ï¸" : "Nope! C'mon now - hop to it!"%></p>
  <p>completed at: <%= @status == false ? "N/A - You gotta complete this first!" : @status %></p> -->

  <p><%= link_to("Home", index_path) %></p>
</article>

<%= @params %>
