<h1 class="hello"> Hello!! Welcome to <span class="animated tada">Task Master!</span> Here are your tasks: (Do them or DIE) </h1>
<% @tasks.each do |task| %>
  <article>
    <div class="title_block">
      <h2 class='hvr-sweep-to-left task_list'><%= link_to(task.title, show_path(task.id)) %></h2>
    </div>
    <div class="buttons">
      <p> <%= button_to "Edit", {action: "edit", id: task.id}, method: :get %></p>
      <div class="complete_button_and_star">
        <p class="complete_button"> <%= button_to "Complete", {action: "complete", id: task.id}, method: :patch %></p>
        <p class="star">  <%= " ⭐️ " if task.complete == true %></p>
      </div>
      <p> <%= button_to "Delete", {action: "destroy", id: task.id}, method: :delete, data: {confirm: "Are you sure?"} %></p>
    </div>
  </article>
<% end %>
<p class="go-to-new hvr-sweep-to-right"><%= link_to("+ Add Task", new_path) %></p>
