<% if @task == nil %>
  <h2 class=" welcome-message no-existance-error"> The Task You Seek Does Not Exist </h2>
  <h3> <%= link_to("Back To Home", root_path) %></h3>
<% else %>
  <article>
    <h2 class="welcome-message"><%=  @task.title%></h2>
    <h3><%=  @task.description%></h3>
    <p class="complete-info"><span> Completed:</span> <%= @task.complete %> </p>

    <% if @task.complete == true %>
      <p class="complete-info"> <span>Completed:</span> <%= @task.completed_at %></p>
    <% end %>


    <p> <%= button_to "Edit", {action: "edit", id: @task.id}, method: :get %></p>
    <p> <%= button_to "Delete", {action: "destroy", id: @task.id}, method: :delete, data: {confirm: "Are you sure?"} %></p>

  </article>
<% end %>
