<article>
  <h1><%=  @task.title%></h1>
  <h2><%=  @task.description%></h2>
  <p> Complete: <%= @task.complete %> </p>

  <% if @task.complete == true %>
    <p> Completed: <%= @task.completed_at %></p>
  <% end %>


  <p> <%= button_to "Edit", {action: "edit", id: @task.id}, method: :get, data: {confirm: "Do you want to edit?"} %></p>
  <p> <%= button_to "Delete", {action: "destroy", id: @task.id}, method: :delete, data: {confirm: "Are you sure?"} %></p>

</article>
