<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <link href="https://fonts.googleapis.com/css?family=Assistant:200|Bungee|Bungee+Shade|Heebo:100|Raleway|Scope+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1 class="title hvr-sweep-to-right"> <%= link_to "Task Master", root_path %></h1>
  <nav>
    <ul>
      <li class='hvr-sweep-to-right'> <%= link_to "Home", root_path %></li>
      <li class='hvr-sweep-to-right'>  <%= link_to "New Task", new_task_path %>  </li>
      <% if current_user != nil %>
        <li class='hvr-sweep-to-right'><%= link_to('Log Out', 'sessions/destroy', method: :delete) %></li>
      <% else %>
        <li class='hvr-sweep-to-right'> <%= link_to('Log In', '/auth/github') %> </li>
      <% end %>
    </ul>

    <% if flash[:notice] %>
      <p class="flash-notice"> <%= flash[:notice] %></p>
    <% end %>
  </nav>
</header>
<%= yield %>

</body>
</html>
