<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <link href="https://fonts.googleapis.com/css?family=Assistant:200|Bungee|Bungee+Shade|Heebo:100|Raleway|Scope+One" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1 class="title"> Task Master </h1>
  <nav>
    <ul>
      <li> <%= link_to "Home", root_path %></li>
      <li>  <%= link_to "New Task", new_path %>  </li>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
